* {
	margin: 0;
	padding: 0;
}
body{
	color: white;
	background: #000;
}
#wrapper{
	width:100%;
	height:100%;
	position: relative;
}


#header {
	width: 100%;
	height: 200px;
	background: #000;
	position: relative;
}

#header-logo {
	background: url("GuitarLogo.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	width: 250px;
	height: 200px;
	position: absolute;
	left: 10%;
}
#header-panel {
	width: auto;
	height: auto;
	position: absolute;
	left: 40%;
	top: 40%;
}
#header-panel li {
	display: inline-block;
	list-style: none;
	padding: 15px;
	margin-left: -15px;
}
#header-panel a {
	text-decoration: none;
	color: #828282;
	font-size: 25px;
	font-weight: bold;
}
#header-panel a:hover {
	color: #fff;
}

#header-search {
	background: url("SearchIcon.png");
	-webkit-background-size: cover;
	background-size: cover;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10%;
	top: 45%;
}


#content {
	width: 100%;
	height: 500px;
	background: white;
}

.viewport{
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.slidewrapper{
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    margin: 0;
    padding: 0;    
}
.slide{
    width: 500px;
    height: 500px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #ff0000;
}
.second{
     background: #00ff00;  
}
.third{
     background: #0000ff;   
}

#footer {
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: green;
}
.clearfix {
	clear:both;
}
